<ng-container *ngIf="widget">
  <button [style.margin]="'auto'" [style.background-color]="widget.background" [ngClass]="type" [style.color]="widget.textColor"
    [style.font-size]="widget.fontSize+'px'" [matBadge]="badge" mat-button class="generic-btn"
    (click)="onClick($event)">
    <!-- <mat-icon>home</mat-icon>  -->
    <app-img *ngIf="widget?.image" [format]="widget.image?.format" [image]="widget.image"></app-img>
    <!-- <img [src]="widget?.image" [style.width]="'48px'" [style.height]="'48px'"> -->
    <span class="text" [style.background-color]="widget.background">{{widget.text}}</span>
  </button>
</ng-container>
