$white: #f8f8f8;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

::ng-deep {


  ng-scrollbar.virtual-scroll.widget {
    background: var(--widget-background-color);
    border-radius: 4px;
  }
}



.grid-list {
  height: 100%;
}

.block {
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  min-height: 50px;
  display: block;
  overflow: hidden;

  .handle-border {
    left: 0;
    width: 10px;
    height: 100%;
    background-color: white;
    display: inline-block;
    position: relative;
  }
}
