:host {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.formular {
  width: 100%;
  height: 100%;

  .mat-form-field {
    width: calc(100% - 20px);
    margin: 0px 10px;
    z-index: 10;
  }
}

:host ::ng-deep {
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    img {
      // height: 100%;
    }
  }
}
