<ng-container *ngIf="widget">
  <h1>{{'LABEL.WIDGET.'+widget.kind|translate}}</h1>

  <div class="toggle-group" *ngIf="widget.kind==='button' || widget.kind==='text'">
    <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">
      <mat-button-toggle [ngClass]="widget.fontWeight ? 'selected':'default'"
        (click)="changeWidget({fontWeight: widget.fontWeight ? undefined:'bold'})"
        [matTooltip]="'LABEL.font_weight'|translate" value="bold">
        <mat-icon>format_bold</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle [ngClass]="widget.fontStyle ? 'selected':'default'"
        (click)="changeWidget({fontStyle: widget.fontStyle ? undefined:'italic'})"
        [matTooltip]="'LABEL.italics'|translate" value="bold">
        <mat-icon>format_italic</mat-icon>
      </mat-button-toggle>
      <!-- font-color-->

      <mat-button-toggle (click)="updateImage('widget')" class="default" [matTooltip]="'LABEL.image'|translate"
        value="underline">
        <mat-icon>image</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="toggle-group">
    <mat-button-toggle-group *ngIf="widget.kind === 'text'" [value]="widget.textAlign"
      (change)="changeWidget({textAlign: $event.value})" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle [matTooltip]="'LABEL.FONT.left'|translate" value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [matTooltip]="'LABEL.FONT.center'|translate" value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [matTooltip]="'LABEL.FONT.right'|translate" value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <!-- font family -->
  <mat-form-field appearance="outline" [matTooltip]="'LABEL.font_style'|translate"
    *ngIf="widget.kind === 'button' || widget.kind === 'text' || widget.kind === 'subscription'">
    <mat-label>{{'LABEL.font_style'|translate}}</mat-label>
    <mat-select (selectionChange)="changeWidget({fontFamily: $event.value})" [value]="widget.fontFamily">
      <mat-option class="times" value="times">Times new Roman</mat-option>
      <mat-option class="georgia" value="georgia">Georgia</mat-option>
      <mat-option class="arial" value="arial">Arial</mat-option>
      <mat-option class="verdana" value="verdana">Verdana</mat-option>
      <mat-option class="helvetica" value="helvetica">Helvetica</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text</mat-label>
    <input [matTooltip]="'LABEL.text'|translate" #widgetInp matInput [value]="widget.text"
      (change)="changeWidget({text: widgetInp.value})">
    <input [matTooltip]="'LABEL.font_color'|translate" matSuffix matInput class="color-picker" #colorInp matInput
      [value]="widget.textColor" type="color" (change)="changeWidget({textColor: colorInp.value})">
  </mat-form-field>

  <!-- image -->
  <mat-form-field floatLabel="always" class="slide-form-field" appearance="outline"
    *ngIf="widget.kind === 'button' || widget.kind === 'text'">
    <mat-label>{{'LABEL.image'|translate}}</mat-label>
    <mat-slider [value]="parseValue(widget.imageOpacity) * 100" #widgetImageOpacitiySlider
      (change)="changeWidget({imageOpacity:widgetImageOpacitiySlider.value / 100})"
      [matTooltip]="'LABEL.opacity'|translate" [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="5"
      aria-labelledby="example-name-label">
    </mat-slider>
    <button matSuffix mat-icon-button (click)="updateImage('widget')" class="default"
      [matTooltip]="'LABEL.image'|translate" value="underline">
      <mat-icon>image</mat-icon>
    </button>
    <button matSuffix *ngIf="widget.image" mat-icon-button (click)="changeWidget({image:undefined})"
      [matTooltip]="'BUTTON.cancel'|translate">
      <mat-icon>cancel</mat-icon>
    </button>
    <textarea matInput hidden></textarea>
  </mat-form-field>

  <!-- background -->
  <mat-form-field class="slide-form-field" appearance="outline" *ngIf="widget.kind === 'button'">
    <mat-label>{{'LABEL.background'|translate}}</mat-label>
    <mat-slider [matTooltip]="'LABEL.opacity'|translate" [value]="parseValue(widget.backgroundOpacity) * 100"
      #widgetBackgroundOpacitiySlider
      (change)="changeWidget({backgroundOpacity: widgetBackgroundOpacitiySlider.value / 100})" [max]="100" [min]="0"
      [step]="1" [thumbLabel]="true" [tickInterval]="5" aria-labelledby="example-name-label">
    </mat-slider>
    <span matSuffix>{{widgetBackgroundOpacitiySlider.value.toFixed(0)+'%'}}</span>
    <input [matTooltip]="'LABEL.background'|translate" matSuffix matInput class="color-picker" #widgetBGColorInp
      matInput [value]="widget.background" type="color" (change)="changeWidget({background: widgetBGColorInp.value})">
    <button matSuffix *ngIf="widget.background" mat-icon-button (click)="changeWidget({background:undefined})"
      [matTooltip]="'BUTTON.cancel'|translate">
      <mat-icon>cancel</mat-icon>
    </button>
    <textarea matInput hidden></textarea>
  </mat-form-field>

  <!-- text size -->
  <mat-form-field class="slide-form-field" floatLabel="always" appearance="outline"
    *ngIf="widget.kind === 'button' || widget.kind === 'text'">
    <mat-label>{{'LABEL.font_size'|translate}}</mat-label>
    <mat-slider [value]="widget.fontSize" #slider (change)="changeWidget({fontSize: slider.value})"
      [matTooltip]="'LABEL.font_size'|translate" [max]="50" [min]="8" [step]="1" [thumbLabel]="true" [tickInterval]="5"
      aria-labelledby="example-name-label">
    </mat-slider>
    <span matSuffix>{{slider.value + 'px'}}</span>
    <textarea matInput hidden></textarea>
  </mat-form-field>


  <!-- final -->
  <div class="toggle-group" *ngIf="widget.kind==='button'">
    <mat-slide-toggle #finalSlider [checked]="widget.final" (change)="changeWidget({final:finalSlider.checked})">
      {{'LABEL.finish'|translate}}
    </mat-slide-toggle>
  </div>

  <div class="slider-group" *ngIf="widget.kind === 'subscription'">
    <mat-slide-toggle #subName [checked]="widget.name" (change)="changeWidget({name:subName.checked})">  {{'LABEL.fullname'|translate}}</mat-slide-toggle>

    <mat-slide-toggle #subMail [checked]="widget.mail" (change)="changeWidget({mail:subMail.checked})">{{'LABEL.mail'|translate}}
    </mat-slide-toggle>

    <mat-slide-toggle #subPhone [checked]="widget.phone" (change)="changeWidget({phone:subPhone.checked})">
      {{'LABEL.phone'|translate}}</mat-slide-toggle>

  </div>
</ng-container>
<ng-container *ngIf="block">
  <h1>{{'LABEL.block'|translate}}</h1>
  <mat-form-field floatLabel="always" class="slide-form-field" appearance="outline">
    <mat-label>Bild</mat-label>
    <mat-slider [matTooltip]="'LABEL.opacity'|translate" [value]="parseValue(block.imageOpacity) * 100"
      #blockImageOpacitiySlider (change)="changeBlock({imageOpacity:blockImageOpacitiySlider.value / 100})" [max]="100"
      [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="5" aria-labelledby="example-name-label">
    </mat-slider>
    <button matSuffix mat-icon-button (click)="updateImage('block')" class="default"
      [matTooltip]="'LABEL.image'|translate" value="underline">
      <mat-icon>image</mat-icon>
    </button>
    <button matSuffix *ngIf="block.image" mat-icon-button (click)="changeBlock({image:undefined})"
      [matTooltip]="'BUTTON.cancel'|translate">
      <mat-icon>cancel</mat-icon>
    </button>
    <textarea matInput hidden></textarea>
  </mat-form-field>

  <mat-form-field class="slide-form-field" appearance="outline">
    <mat-label>Hintergrundfarbe</mat-label>
    <mat-slider [matTooltip]="'LABEL.opacity'|translate" [value]="parseValue(block.backgroundOpacity) * 100"
      #blockBackgroundOpacitiySlider
      (change)="changeBlock({backgroundOpacity: blockBackgroundOpacitiySlider.value / 100})" [max]="100" [min]="0"
      [step]="1" [thumbLabel]="true" [tickInterval]="5" aria-labelledby="example-name-label">
    </mat-slider>
    <span matSuffix>{{blockBackgroundOpacitiySlider.value.toFixed(0)+'%'}}</span>
    <input [matTooltip]="'Hintergrundfarbe'" matSuffix matInput class="color-picker" #blockBGColorInp matInput
      [value]="block.background" type="color" (change)="changeBlock({background: blockBGColorInp.value })">
    <textarea matInput hidden></textarea>
  </mat-form-field>

</ng-container>
<!-- <ng-container *ngIf="page">
  <h1>Seite</h1>
  <h3>Hintergrund</h3>
  <div>
    <mat-button-toggle (click)="page.background ?changePage({background: undefined}): null" class="default"
      [matTooltip]="'LABEL.font_color'|translate">
      <input *ngIf="!page.background" class="color-picker" #pageBackgroundInp matInput [value]="page.background"
        type="color" (change)="changePage({background: pageBackgroundInp.value})">
    </mat-button-toggle>
    <mat-slider [value]="page.opacity" #pageOpacitySlider (change)="changePage({opacity: pageOpacitySlider.value})"
      [matTooltip]="'LABEL.font_size'|translate" [max]="1" [min]="0" [step]=".1" [thumbLabel]="true" [tickInterval]=".1"
      aria-labelledby="example-name-label">
    </mat-slider>
  </div>
</ng-container> -->
