<ng-container *ngIf="widget">
  <h3>Element</h3>
  <mat-icon [matTooltip]="'LABEL.font_size'|translate">format_size</mat-icon>
  <mat-slider [value]="widget.fontSize" #slider (change)="changeWidget({fontSize: slider.value})"
    [matTooltip]="'LABEL.font_size'|translate" [max]="50" [min]="8" [step]="1" [thumbLabel]="true" [tickInterval]="5"
    aria-labelledby="example-name-label">
  </mat-slider>
  <div>
    <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">
      <mat-button-toggle [ngClass]="widget.fontWeight ? 'selected':'default'"
        (click)="changeWidget({fontWeight: widget.fontWeight ? undefined:'bold'})"
        [matTooltip]="'LABEL.font_weight'|translate" value="bold">
        <mat-icon>format_bold</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle [ngClass]="widget.fontStyle ? 'selected':'default'"
        (click)="changeWidget({fontStyle: widget.fontStyle ? undefined:'italic'})"
        [matTooltip]="'LABEL.font_style'|translate" value="bold">
        <mat-icon>format_italic</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <!-- font-color-->
    <mat-button-toggle class="default" [matTooltip]="'LABEL.font_color'|translate" value="italic">
      <input class="color-picker" #colorInp matInput [value]="widget.textColor" type="color"
        (change)="changeWidget({textColor: colorInp.value})">
      <mat-icon [style.color]="widget.textColor">format_color_text</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle class="default" [matTooltip]="'LABEL.font_color'|translate" value="italic">
      <input class="color-picker" #bgInp matInput [value]="widget.background" type="color"
        (change)="changeWidget({background: bgInp.value})">
      <mat-icon [style.color]="widget.background">format_color_fill</mat-icon>
    </mat-button-toggle>

    <!-- font -->
    <mat-button-toggle class="default" [matTooltip]="'LABEL.font_style'|translate" [matMenuTriggerFor]="fontMenu"
      value="underline">
      <span [style.font-size]="'22px'" [ngClass]="widget.fontFamily || []">A</span>
    </mat-button-toggle>

    <!-- image -->
    <mat-button-toggle (click)="updateImage('widget')" class="default" [matTooltip]="'LABEL.image'|translate"
      value="underline">
      <mat-icon>image</mat-icon>
    </mat-button-toggle>

    <mat-menu #fontMenu>
      <menu mat-menu-item class="times" (click)="changeWidget({fontFamily: 'times'})">Times new Roman</menu>
      <menu mat-menu-item class="georgia" (click)="changeWidget({fontFamily: 'georgia'})">Georgia</menu>
      <menu mat-menu-item class="arial" (click)="changeWidget({fontFamily: 'arial'})">Arial</menu>
      <menu mat-menu-item class="verdana" (click)="changeWidget({fontFamily: 'verdana'})">Verdana</menu>
      <menu mat-menu-item class="helvetica" (click)="changeWidget({fontFamily: 'helvetica'})">Helvetica</menu>
    </mat-menu>
  </mat-button-toggle-group>
</ng-container>
<ng-container *ngIf="block">
  <h3>Bereich</h3>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <!-- background -->
    <mat-button-toggle value="bold">
      <mat-icon>format_color_fill</mat-icon>
    </mat-button-toggle>

    <!-- image -->
    <mat-button-toggle (click)="updateImage('block')" class="default" value="underline">
      <mat-icon>image</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-container>
<h3>Seite</h3>
<!-- background -->
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">
    <mat-icon>format_color_fill</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
