<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="main-sidenav-toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of items">

        <a class="a-list-item" mat-list-item [routerLink]="item.link">
          <mat-icon>{{item.icon}}</mat-icon>{{item.name}}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg">
    <ng-content select="app-main-nav-content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
