<ng-scrollbar [style.font-size]="fontSize+'px'" [style.margin-left]="'calc(100% / 2 - '+(width/2)+'px)'"
  [style.width]="width+'px'" [style.height]="height+'px'" [cdkDropListSortPredicate]="enterPredicate"
  (cdkDropListDropped)="drop($event)" cdkDropList [visibility]="'hover'" class="virtual-scroll widget"
  thumbClass="white-scrollbars">
  <ng-container *ngFor="let item of page?.blocks">
    <!-- block -->
    <app-block [item]="item" (selected)="activateBlock($event)"></app-block>
  
    <div *ngIf="item.activated" (cdkDragEnded)="resize($event,item)" (cdkDragMoved)="onResize($event,item)"
      cdkDragBoundary=".widget" [cdkDragLockAxis]="'y'" cdkDrag class="drag-border" [cdkDragData]="null">
      <span class="handle-circle" cdkDragHandle></span>
    </div>
  </ng-container>
</ng-scrollbar>


