table {
  width: 100%;
  height: calc(100% - 24px);
  overflow: auto;
  max-height: 100%;

  th {
    background-color: #e6e6e6;
  }
}

.scrollbar {
  height: calc(100% - 64px);
}

.flexbox {
  display: flex;

  .mat-icon {
    font-size: 18px;
  }
}
