:host ::ng-deep {
  width: 100%;
  height: 100%;
  display: flex;

  .mat-badge-content {
    top: 0px !important;
    right: 0px !important;
    background: rgb(var(--main-highlight-color));;
  }
}

.generic-btn {
  background: #2e60ea;
  overflow: hidden;
  max-width: 200px;
  margin: auto;
  color: white;
  width: calc(100% - 10px);
  margin: 5px;
  height: calc(100% - 10px);
  min-height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;

  span.text {
    display: block;
    white-space: initial;
    line-height: 16px;
    padding: 10px 0px;
  }


}

:host ::ng-deep {
  button.original {
    padding: 0;

    span.text {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}


.activated {
  border: 2px dashed rgb(var(--main-highlight-color));;
}
