<ng-container *ngIf="widget">
  <!-- button -->
  <ng-container *ngIf="widget.kind==='button'">
    <app-button [enableBadges]="mode === 'editor'" [activated]="activated"
      [badge]="widget.linkedTo ? (pages[widget.linkedTo].index +1).toString() : undefined"
      (afterClicked)="onClick($event)" [widget]="widget"></app-button>
  </ng-container>
  <!-- text -->
  <ng-container *ngIf="widget.kind === 'text'">
    <app-text [widget]="widget"></app-text>
  </ng-container>
  <!-- subscription -->
  <!-- calendar -->
  <ng-container *ngIf="widget.kind === 'calendar'">
    <app-calendar [widget]="widget"></app-calendar>
  </ng-container>
  <ng-container *ngIf="widget.kind === 'subscription'">
    <app-subscription (afterChanges)="afterChanged($event)" [widget]="widget"></app-subscription>
  </ng-container>
</ng-container>
