<ng-container *ngIf="widget">
  <ng-container [ngSwitch]="widget.type">
    <!-- button -->
    <ng-container *ngSwitchCase="'button'">
      <app-button [badge]="widget.linkedTo ? (pages[widget.linkedTo].index +1).toString() : undefined"
        (afterClicked)="onClick($event)" [widget]="widget"></app-button>
    </ng-container>
    <!-- text -->
    <ng-container *ngSwitchCase="'text'">
      <p [style.color]="widget.textColor" [style.font-size]="widget.fontSize+'px'"
        (dblclick)="onDoubleClick($event,widget)" class="text">{{widget.text}}</p>
    </ng-container>
    <!-- subscription -->
    <ng-container *ngSwitchCase="'subscription'">
      <app-subscription [widget]="widget"></app-subscription>
    </ng-container>
    <!-- calendar -->
    <ng-container *ngSwitchCase="'calendar'">
      <app-calendar></app-calendar>
    </ng-container>
  </ng-container>
</ng-container>
