.content {
  height: calc(100% - 64px);
  overflow: auto;
}

:host ::ng-deep .searchbar {

  .mat-form-field-flex,
  .mat-form-field-label-wrapper {
    padding-top: 0
  }

  .mat-form-field-wrapper {
    padding-bottom: 0
  }

  .mat-form-field-underline {
    bottom: 0
  }

  .mat-form-field-infix {
    border-top: 0
  }
}
