<div>
  <mat-toolbar>
    <mat-toolbar-row>Editor
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-scrollbar class="pages-wrapper">
    <mat-list *ngIf="pages">
      <div [class.selected]="currentPage?.id === page.id" matRipple (click)="selectPage(page)" class="list-entry"
        mat-list-item #listItem *ngFor="let page of pages; let pageIdx = index">
        <span class="num">{{pageIdx+1}}</span><span>{{page.id}}</span>
      </div>
    </mat-list>
  </ng-scrollbar>
  <div class="page-wrapper">
    <app-page #pageContainer [cdkDropListData]="displayedBlocks" cdkDropList [cdkDropListSortPredicate]="enterPredicate"
      (cdkDropListDropped)="drop($event)" cdkDropListclass="app-page" [editable]="true" *ngIf="currentPage" [zoom]="1"
      [page]="currentPage">
      <ng-container *ngFor="let block of displayedBlocks">
        <div #container (cdkDragStarted)="dragStart(container,block)" (cdkDragEnded)="dragEnd(container,block)"
          [cdkDragLockAxis]="'y'" [cdkDragData]="block" cdkDrag>
          <app-block [class.activated]="block.id === selectedBlockId" (selected)="selectBlock(container,$event)" [item]="block">
            <ng-template #widgetTemplate let-widget>
              <app-widget (cdkDragEnded)="dragExited($event,widget)" cdkDrag (cdkDragMoved)="dragMove($event)"
                (click)="activateWidget($event,currentPage.id,block.id,widget)" [slot]="widget.id"
                [class.activated]="widget.id === selectedWidgetId" [widget]="widget">
              </app-widget>
            </ng-template>
          </app-block>


          <div *ngIf="block.id === selectedBlockId" [cdkDragData]="null" (cdkDragEnded)="resize($event,block)"
            (cdkDragMoved)="onResize($event,block)" cdkDragBoundary=".widget" [cdkDragLockAxis]="'y'" cdkDrag
            class="drag-border">
            <span class="handle-circle mat-elevation-z4" cdkDragHandle></span>
          </div>

        </div>
      </ng-container>
    </app-page>
    <div class="actions">
      <button mat-button (click)="createBlock()">
        <mat-icon>add</mat-icon> {{'BUTTON.create_value'|translate:{value:'LABEL.block'|translate} }}
      </button>
    </div>
  </div>

  <button mat-fab (click)="createPage()" color="primary" class="fab"
    aria-label="Example icon button with a delete icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
