$white: #f8f8f8;
$offset: 108px;

::ng-deep {
  ng-scrollbar.virtual-scroll.preview {

    height: calc(100% - 46px);
    max-height: 100%;
    width: 60px;
    display: inline-block;
    overflow: hidden;
  }

  ng-scrollbar.virtual-scroll.editor {
    display: inline-block;
    width: calc(100% - 0px);
    height: calc(100% - 46px);
  }
}

.page-content {
  margin-top: -$offset;
  height: calc(100% - 20px);
}

.edit-blocks {
  padding: 10px;
}

.sidenav {
  height: 100%;
  background: transparent;

  .side-drawer {
    width: 300px;
  }
}

.example-item {
  height: 74px;
  cursor: pointer;
  width: 36px;
  background-color: var(--widget-background-color);
  margin: 5px;
  display: inline-block;
}


.action-bar {
  width: calc(100% - 60px);
  display: inline-block;
}

span.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  cursor: move;
  margin-top: -10px;
  margin-left: -5px;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px white;
  left: 50%;
  top: 50%;
  line-height: 5px;
  position: absolute;
  letter-spacing: 2px;
}

span.grippy::after {
  content: '.. .. .. ..';
}

.sidenav-toolbar {
  background: #262040;
  color: white;
}

.page-wrapper {
  margin: auto;
  width: 288px;
  margin-top: 24px;
}


:host ::ng-deep mat-stepper.mat-stepper-horizontal {
  height: 100%;
  background: transparent;

  div.mat-horizontal-content-container {
    height: calc(100% - #{$offset});
    padding: 0;

    div.mat-horizontal-stepper-content {
      height: 100%;
    }
  }

  mat-step-header.mat-step-header .mat-step-label {
    color: white;
  }
}
