$white: #f8f8f8;
$offset: 108px;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.pages-wrapper {
  width: 100%;
  height: calc(100% - 37px);
}

.add-btn {
  border-top: 1px solid rgb(235, 226, 226);
  width: 100%;
  border-radius: 0;
}

.page-wrapper {
  margin: auto;
  margin-top: 24px;
  height: 592px;
  width: 288px;
  border: 2px solid #616161;
  border-radius: 6px;
  overflow: hidden;
}

.edit-blocks {
  padding: 10px;
}

.sidenav {
  height: 100%;
  background: transparent;

  .side-drawer {
    width: 300px;
  }
}

.drag-container {
  width: 100%;
  display: block;
  position: relative;
}

.drag-border {
  display: block;
  position: relative;
  height: 10px;
  background: rgb(var(--main-highlight-color));
  background: repeating-linear-gradient(45deg,
      rgb(var(--main-highlight-color)),
      rgb(var(--main-highlight-color)) 10px,
      #465298 10px,
      #465298 20px);
  cursor: grab;
}

.handle-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 90px;
  margin-left: -12px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  background-color: white;
  cursor: ns-resize;
  z-index: 99;
}


.activated {
  border: 2px solid red;
  border-radius: 4px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.list-entry {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0px;
  cursor: pointer;
  padding: 4px 12px;
  white-space: nowrap;
  cursor: pointer;
}

.list-entry.highlighted {
  border: 1px solid red;
}

.list-entry:hover {
  .more {
    display: unset;
  }
}

.num {
  padding: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;
  border-radius: 99px;
  background-color: rgb(60, 118, 185);
  color: white;
}

.actions {
  display: flex;
  justify-content: center;
}

.list-entry.selected {
  background: #d5dde6;
}

.list-entry.activated {
  background: #386cff;
  color: white;

  .num {
    background-color: white;
    color: black;
  }
}



:host ::ng-deep {
  mat-tab-group.mat-tab-group {
    height: 100%;

    .mat-tab-body-wrapper {
      height: 100%;
    }
  }

  .mat-tab-label {
    min-width: 0;
    width: 50%;
  }
}

.has-drag-over:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(var(--main-highlight-color), 0.4);
  border: 2px dashed rgb(var(--main-highlight-color));

}

.block-placeholder {
  height: 200px;
  background-color: rgba(var(--main-highlight-color), .4);
  border: 2px dashed rgb(var(--main-highlight-color));
  width: calc(100% - 4px);
  color: white;
}

.mat-sidenav-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
