<ng-scrollbar>
  <mat-toolbar>
    Bilder
  </mat-toolbar>
  <mat-toolbar class="fixed">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="custom">
        <input formControlName="term" [placeholder]="'Suche'" matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <!-- <mat-slide-toggle (change)="roundCorners = $event.checked" [checked]="roundCorners">Runde Ecken</mat-slide-toggle> -->
      <mat-form-field appearance="outline" class="custom">
        <mat-label>Format</mat-label>
        <mat-select formControlName="format" [(ngModel)]="selectedFormat"
          (selectionChange)="selectedFormat = $event.value">
          <mat-option *ngFor="let format of formats" [value]="format.id">{{format.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-toolbar>
  <mat-toolbar>
  </mat-toolbar>
  <div>
    <mat-grid-list [cols]="(layoutSmall$ | async) ? 1 : (layoutLarge$ | async) ? 6 : 3"
      [rowHeight]="(layoutSmall$ | async) ? '200px': (layoutLarge$ | async) ? '108px' : '150px'">
      <mat-grid-tile *ngFor="let img of images" [colspan]="1" [rowspan]="1">
        <app-img [class.active]="selectedImage?.id === img.id" (imageSelected)="selectImage($event)"
          [format]="selectedFormat" [image]="img" [preview]="true"></app-img>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-scrollbar>
