.content {
  max-height: unset;
  height: calc(100% - 53px);
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 99;
}


:host ::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(224, 224, 224);
  }

  .mat-form-field-placeholder {
    color: rgb(224, 224, 224);
  }

  .custom {

    .mat-form-field-flex,
    .mat-form-field-label-wrapper {
      padding-top: 0
    }

    .mat-form-field-wrapper {
      padding-bottom: 0
    }

    .mat-form-field-underline {
      bottom: 0
    }

    .mat-form-field-infix {
      border-top: 0
    }
  }

  .custom {
    margin-right: 10px;
  }

  app-img.active img {
    box-shadow: 0 0 5px red;
  }
}
