/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --widget-background-color: #262040;

  --main-color-primary: #AB7CFC;
  --main-color-secondary: #52D9DF;

  --main-highlight-color: 90, 247, 255;
}


ng-scrollbar.virtual-scroll {
  // --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
  // --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;
}


mat-toolbar.mat-toolbar.main {
  color: rgb(245, 245, 245);
  background: var(--main-color-primary);
  background: linear-gradient(90deg, var(--main-color-primary) 0%, var(--main-color-secondary) 89%);
}

mat-sidenav.mat-sidenav {
  background-color: #383838;

  .mat-list-item-content {
    color: #b9b9b9;
  }

  .mat-toolbar {
    color: white;
  }
}

div.page-content {
  height: calc(100% - 64px);
  overflow: auto;
}

span.spacer {
  flex: 1 1 auto;
}

.lightbox {
  .mat-dialog-container {
    margin: 0;
    padding-top: 0;

    div[mat-dialog-actions] {
      border-top: 1px solid rgba(0, 0, 0, 0.4);
      padding: 0;
      margin: 0;
    }

    h1[mat-dialog-title] {
      padding: 16px;
    }

    div[mat-dialog-content] {
      // padding: 16px;
      padding: 0;
    }
  }
}


.times {
  font-family: "Times New Roman", Times, serif;
}

.arial {
  font-family: Arial, sans-serif;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.verdana {
  font-family: Verdana, sans-serif;
}

.georgia {
  font-family: Georgia, serif;
}
