/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --widget-background-color: #262040;
}


ng-scrollbar.virtual-scroll {
  // --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
  // --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;
}


mat-toolbar.mat-toolbar {
  color: white;
  background: rgb(199, 20, 114);
  background: linear-gradient(90deg, rgba(199, 20, 114, 1) 0%, rgba(226, 130, 104, 1) 89%);
}

div.page-content {
  height: calc(100% - 64px);
  overflow: auto;
}

span.spacer {
  flex: 1 1 auto;
}
