<form class="formular" [style.background]="widget?.background" [style.color]="widget?.textColor">
  <mat-form-field class="subscription-form-element" appearance="outline">
    <mat-label [style.color]="addAlpha(widget?.textColor,.5)">Vor- und Nachname</mat-label>
    <input matInput>
    <button mat-icon-button matPrefix>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label [style.color]="addAlpha(widget?.textColor,.5)">E-Mail</mat-label>
    <input matInput>
    <button mat-icon-button matPrefix>
      <mat-icon>email</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label [style.color]="addAlpha(widget?.textColor,.5)">Telefonnummer</mat-label>
    <input matInput type="phone">
    <button mat-icon-button matPrefix>
      <mat-icon>phone</mat-icon>
    </button>
  </mat-form-field>
</form>
